params {
reads = "/home/pavel/Documents/Work/nextflow_tutorial_Oct15_2021/nf_from_git/data/fastq_files/*R{1,2}_*.fq.gz"
genome = "/home/pavel/Documents/Work/nextflow_tutorial_Oct15_2021/nf_from_git/data/ref_fasta/AZIL01.1.fsa_nt_modHead.fa"
gtf = "/home/pavel/Documents/Work/nextflow_tutorial_Oct15_2021/nf_from_git/data/ref_gtf/AZIL01.1.gbff.gtf"
multiqc = "$baseDir/multiqc"
outdir = "/home/pavel/Documents/Work/nextflow_tutorial_Oct15_2021/nf_from_git/results"
}

